<ion-view view-title="Connection">
<ion-content>
    <h1>Connectez-vous</h1>
    <form ng-submit="logIn()">
    <div class="list">
        <label class="item item-input item-floating-label">
            <span class="input-label">Pseudo</span>
            <input type="text" ng-model="logIn.pseudo" placeholder="Pseudo">
        </label>
        <label class="item item-input item-floating-label">
            <span class="input-label">Mot De Passe</span>
            <input type="password" ng-model="logIn.mdp" placeholder="Mot De Passe">
        </label>
        <label class="item">
            <button class="button button-block button-royal" type="submit">Log In</button>
        </label>
    </div>
    </form>
</ion-content>
</ion-view>