<ion-view hide-nav-bar="true">
    <ion-header-bar style="background-color:blueviolet">
        <a href="#/app/niveau"><button class="button icon-left ion-chevron-left button-clear button-dark"></button></a>
        <div class="h1 title">Information</div>
    </ion-header-bar>
    
    <ion-content>

        <div align="center">
            <img src="img/logo.png" width="80" style="margin-top:10px">
            <h1 style="margin-top:5px">LOGO QUIZ</h1>
        </div>

        <div class="card">
            <div class="item item-text-wrap">
                <p>
                    Aimez-vous les quiz, les casse-tête, les devinettes ? Pensez-vous que vous connaissez beaucoup d'entreprises du monde entier ? Logo Quiz, il est juste pour Vous ! Vérifiez ce que vous savez !
                </p>
                <ul>
                    <li> - Devinez plusieurs marques du monde entier</li>
                    <li> - Réparties sur plusieurs niveaux divers</li>
                    <li> - A chaque niveau à un défi plus difficile Vous attendra</li>
                    <li> - Luttez contre des amis et d'autres joueurs pour une meilleure position dans le classement</li>
                </ul>
                <br/>
                <p>Visitez notre site web : <a href="http://frontlogoquiz.herokuapp.com/index">http://frontlogoquiz.herokuapp.com/index</a></p>
            </div>
        </div>
        <br/><br/>

    </ion-content>

    <div class="bar bar-footer">
        <div class="tabs-striped">
            <div class="tabs">
                <a class="tab-item" href="#/app/commentaire">
                    <i class="icon ion-chatboxes"></i>
                </a>
                <a class="tab-item active" href="#/app/information">
                    <i class="icon ion-information"></i>
                </a>
                <a class="tab-item" href="#/app/jeu">
                    <i class="icon ion-log-out"></i>
                </a>
            </div>
        </div>
    </div>

</ion-view>