<ion-view hide-nav-bar="true">
    <ion-header-bar>
        <h1 class="title">BIENVENUE</h1>
        <a class="button button-icon icon ion-trophy" href="#/app/classement"></a>
    </ion-header-bar>
    <ion-content>
        <div align="center"><h1>LOGO QUIZ</h1></div>
        <div class="imagess" align="center"><img src="img/logo.png" width="250"></div>
        <div class="row responsive-sm">
            <div class="col" style="margin-bottom:40px">
                <button class="button button-block button-royal" ng-click="nouveau()">Nouvelle partie</button>
                <button class="button button-block button-royal" ng-click="charger()">Continuer partie</button>
            </div>
        </div>
    </ion-content>
</ion-view>