<ion-view hide-nav-bar="true">
  <ion-header-bar style="background-color:blueviolet">
    <a href="#/app/jeu"><button class="button icon-left ion-chevron-left button-clear button-dark"></button></a>
    <div class="h1 title">Niveau</div>
    <button class="button button-clear button-positive" style="color:white">Pt:{{points}}</button>
  </ion-header-bar>

  <ion-content>
    
      <div class="list">
          <button ng-repeat="niveau in niveaux" ng-disabled="niveau{{niveau.id}}" ng-click="logos(niveau.id,niveau.pointQuiz)" class="button-full item item-avatar" style="text-align:left" href="#/app/listelogos/{{niveau.id}}/{{niveau.pointQuiz}}">
            <img src="img/{{niveau.icon}}">
            <h2>{{niveau.nom}}</h2>
            <p>{{niveau.deblocage}} logo pour debloquer</p>
          </button>
      </div>
      <br/><br/>
    
  </ion-content>

  <div class="bar bar-footer">
      <div class="tabs-striped">
          <div class="tabs">
            <a class="tab-item" href="#/app/commentaire">
                <i class="icon ion-chatboxes"></i>
            </a>
            <a class="tab-item" href="#/app/information">
                <i class="icon ion-information"></i>
            </a>
            <a class="tab-item" href="#/app/jeu">
                <i class="icon ion-log-out"></i>
            </a>
          </div>
      </div>
  </div>

</ion-view>
