<div class="container">
  <div class="row">
<div class="col-sm-3 col-lg-3">
</div>
    <div class="col-sm-6 col-lg-6">
      <div id="register-wraper">
          <form id="register-form" class="form" method="post">
              <legend>Modification Niveau {{id}}</legend>
      
              <div class="body">
                <!-- name -->
              <label for="name">Nom du niveau</label>
              <input [(ngModel)]="nom" name="nom" class="input-huge" type="text">
                <!-- Icon quiz -->
              <label for="surname">Icon niveau</label>
              <input [(ngModel)]="icon" name="icon" class="input-huge" type="text">
                <!-- Point quiz -->
              <label for="surname">Point quiz</label>
              <input [(ngModel)]="pointQuiz" name="pointQuiz" class="input-huge" type="text">
                <!-- Point deblocage -->
                <label>Point deblocage</label>
                <input [(ngModel)]="deblocage" name="deblocage" class="input-huge" type="text">
              </div>
          
              <div class="footer">
                  <button (click)="updateNiveau()" type="submit" class="btn btn-success">Modifier</button>
              </div>
          </form>
      </div>
    </div>
<div class="col-sm-3 col-lg-3">
</div>
  </div>
</div>