<div class="navbar-nav navbar-inverse navbar-fixed-top">
  <div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" routerLink="/login"><img src="assets/images/logo30.png" alt=""> LOGO QUIZ Dashboard</a>
  </div> 
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a routerLink="/login"><i class="icon-home icon-white"></i> Home</a></li>           
        <li><a routerLink="/tables"><i class="icon-th icon-white"></i> Tables</a></li>
        <!--<li><a routerLink="/login"><i class="icon-lock icon-white"></i> Login</a></li>-->
        <!--<li><a routerLink="/forminsertniveau"><i class="icon-user icon-white"></i> Insertion Niveau</a></li>
        <li><a routerLink="/forminsertquiz"><i class="icon-user icon-white"></i> Insertion Quiz</a></li>-->
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
